<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trivia de Los Simpsons</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div class="container">
    <h1>Proyecto Final - Trivia de Los Simpsons -</h1>
    <div class="nubes">

      <div class="nube-contenedor">
        <div class="nube" id='jugar'></div>
        <img src="assets/nube_rosa.png" alt="Decoración" class="imagen-hover">
        <div class="texto-nube">JUGAR</div>
      </div>

      <div class="nube-contenedor">
        <div class="nube" id='ranking'></div>
         <img src="assets/nube_rosa.png" alt="Decoración" class="imagen-hover">
         <div class="texto-nube">RANKING</div>
      </div>
    
  </div>
  <script src="script.js"></script>
</body>
</html>