<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugar</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <div class="nubesdeco">
        <img src="assets/nube.png" alt="Nube izquierda" class="nubedeco izq">
        <img src="assets/nube.png" alt="Nube derecha" class="nubedeco der">

        <div class="Pregunta1"> 
            <h1> ¿Cuántos miembros tiene la familia Simpson?</h1>
            <div class="opcion-contenedor">
                <div class="opcion" id="1"></div>
                <img src="assets/Springfield.png" alt="Decoración" class="imagen-hover2">
                <div class="texto-opcion">5</div>              
            </div>

            <div class="opcion-contenedor">
                <div class="opcion" id="2"></div>
                <img src="assets/Welcome.jpg" alt="Decoración" class="imagen-hover2">
                <div class="texto-opcion">4</div>
            </div>

            <div class="opcion-contenedor">
                <div class="opcion" id="3"></div>
                <img src="assets/Casa.png" alt="Decoración" class="imagen-hover2">
                <div class="texto-opcion">7</div>                
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>